@keyframes rainbow {
  0% {
    border-color: hsl(0, 100%, 50%);
  }
  100% {
    border-color: hsl(255, 100%, 50%);
  }
}

body {
  background-color: black;
  background-image: url(./media/bg2.jpg);
  background-size: 575px;
}

.square {
  border: solid white;
  background-color: rgba(0, 0, 0, 0.5);
  animation: rainbow 5s infinite alternate;
  height: 350px;
  width: 350px;
}

.pfp {
  border: solid black;
  border-radius: 50%;
  background-image: url(./media/pfp.png);
  background-size: 300px;
  background-position-y: -2rem;
  height: 200px;
  width: 200px;
}

p {
  font-family: Chalkduster, fantasy;
  padding: 0;
  margin: 1ch;
}

a {
  color: red;
  padding-left: 5px;
}

.social-media {
  position: absolute;
  left: 200px;
  top: 215px;
}

#SM p {
  position: relative;
  top: 25px;
  margin: 12px;
}

#SM a {
  position: relative;
  top: 25px;
  margin: 12px;
}

#personality {
  position: relative;
  left: 418px;
  bottom: 416px;
}

#DM {
  left: 310px;
}

#countdown {
  padding-left: 10px;
}

@media only screen and (min-width: 768px) {
  body {
    background-image: url(./media/bg3.jpg);
    background-size: 800px;
  }

  .square {
    margin-left: 230px;
    height: 450px;
    width: 450px;
  }

  p {
    font-size: 20px;
  }

  a {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    background-image: url(./media/bg.gif);
    background-size: 1980px;
  }
  .square {
    margin: auto;
    width: 500px;
    height: 500px;
  }
  .social-media {
    position: absolute;
    left: 950px;
    bottom: 570px;
  }
}
